doctype html
html(lang="en")
  head
    title Message Board
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    .container
      br
      .jumbotron
        h1 Simple Message Board
        em
          | by 
          a(href="https://babelthuap.github.io/") Nicholas Neumann-Chun
        hr
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='js/main.js')