doctype html
html(lang="en")
  head
    title Message Board
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet", href="css/style.css")
    .container
      br
      .jumbotron
        center
          h1 Simple Message Board
          em
            | by 
            a(href="https://babelthuap.github.io/") Nicholas Neumann-Chun
        hr
        center
          button.btn.btn-success#new(data-toggle='modal', data-target='#messageForm') Post New Message
          br
          br
          span (NOTE: Newer Messages On Top)
        #board
          each message in messages
            .row.message
              p= message.message
              em.author= message.author + ' -- ' + (new Date(message.time)).toUTCString()
    #messageForm.modal.fade(role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Post New Message
            .modal-body
              .compose
                .row
                  span Name: 
                  input#author(type="text")
                .row
                  p
                  p Message: 
                  textarea#messageArea(name="", cols="48", rows="8")
            .modal-footer
              button.btn.btn-primary#post(type='button', data-dismiss='modal') Post
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='js/main.js')