body {
  background-color: black;
}

#board {
  margin-left: 16px;
  margin-right: 16px;
}

.message {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin-top: 16px;
}

.author {
  text-align: right;
  opacity: 0.75;
}

.compose {
  margin-left: 16px;
}