body {
  background-color: black;
}

a {
  color: #5cb85c;
}

a:hover {
  color: #4cae4c;
}

#board {
  margin-left: 16px;
  margin-right: 16px;
}

.message {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin-top: 16px;
  box-shadow: 8px 8px 6px rgba(0,0,0,0.5);
}

.author {
  /*opacity: 0.75;*/
  color: #5cb85c;
  border: 1px dotted grey;
  border-radius: 8px;
  padding: 6px;
}

.edit, .remove {
  color: #b85c5c;
}

.mongoId {
  display: none;
}

.compose {
  margin-left: 16px;
}